* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to left ,#007991,#78ffd6);
}
#welcome{
    margin-left: 10vw;
    font-family: 'Playfair Display';
}
#welcome .text {
    margin-top: 0;
    max-width: 50vw;
    font-size: 150%;
    color: #EEE;
}
#welcome .text#top {
    color: #16161d;
    font-size: 400%;
    font-weight: bold;
}

#welcome .row.one .form-group{
    margin: 5vh 0px;
    font-family: 'Spartan';
    font-weight: bold;
}
#welcome .row.one .form-group input{
    padding-left: 0;
    max-width: 500px;

    background-color:rgba(0, 0, 0, 0);
    border: 0;
    outline: 0;

    font-size: 20px;
    color: #EEE;
    border: none;
}

#welcome .row.one .form-group button{
    padding: 7px 30px;
    margin-top: 15px;

    background-color: #007991;
    border-radius: 20px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: #EEE;
}

#welcome .row.one .form-group button:hover{
    background-color: #78ffd6;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: #16161d;
}

#welcome .row.one #response {
    font-family: 'Spartan';
    font-size: 15px;
}

#welcome .row.one #response #res{
    max-height: 35vh;
    overflow-y: scroll;
    margin-bottom: 17%;
}

#welcome .row.one #response h1{
    padding: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-right: 10vw;
    max-width: 500px;

    background-color: #78ffd6;
    border-radius: 50px;
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
    
    font-size: 18px;
    
    color: #16161d;
}

#welcome .row.one #response h1:hover{
    background-color: #007991;
    box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);

    color: #EEE;
}