<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS Style -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" media="screen"/>

    <style>
      html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
    </style>
    
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spartan:400,600,700&display=swap" rel="stylesheet">
  
    <title>How are you?</title>
  </head>
  <body>
    <div id="welcome">
      <div class="row one" style="margin-top:17%;">
        <div class="col-md-6">
          <form method="POST">
            {% csrf_token %}
            <h1 class="text" id="top">Hello, how are you?</h1>
            <h1 class="text">Hola, como estas?</h1>
            <h1 class="text" id="bottom">Salut, comment allez-vous?</h1>
            <div class="form-group">
                <input type="text" class="form-control" id="mood" name="mood" maxlength="40" placeholder="Enter your current mood here">
                <button type="submit" class="btn">Submit</button>
              </div>
            </form>
          </div>
          <div class="col-md-6" id="response">
            <h2 class="text">Your mood:</h2>
            <div id="res">
              {% for i in mood %}
                <h1>{{ i.mood }} - {{ i.timestamp }}</h1>
              {% endfor %}
            </div>
         </div>
        <!-- </form> -->
      </div>
    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>